## Non-essential CSCD 467 - Parallel & Cloud Computing files
*/*.zip
*/*.docx
*/*.pdf
rootkey.csv
slides/
*.zip
*.docx
*.pdf

## Java Files
*.class

## Eclipse project files
*/.metadata/
*/.project

## IntelliJ project files
*/.idea
*/*.iml

467FinalProj/final/.idea/*